body {
  background: linear-gradient(to bottom, #7cd1f3 1%, #FFFFFF 30%, #FFFFFF 99%);
}

.main-div {
  background: linear-gradient(to bottom, rgba(167, 218, 238, 0.9) 1%, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0.8) 99%);
}

